body {
  background-color: #d0c58d;
  background: url(images/parch-d2.jpg);
  font-family: Georgia, Times, serif;
/*  color: #443818; */
  color: #111;
  letter-spacing: 0.05em;
  line-height: 1.35em;
}

@font-face {
  font-family: CasablancaAntique;
  src: url('/images/Casablanca-Antique.ttf');
}

h3.sitetitle, .indexcontent h3 {
  font-family: CasablancaAntique, Georgia, Times, serif;
  color: #38280c;
  margin-top: 0.5em;
  text-align: center;
  font-size: 140%;
  font-weight: normal;
  line-height: 115%;
}

h3 a {  
  color: #111;
}

h3.sitetitle a {
  text-decoration: none;
  color: #38280c;
}


body#index h3 {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#index h4 {
    font-size: 150%;
    text-align: center;
}

div {
  margin: 0;
  padding: 0;
}

div.boksi {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 749px;
}

div.contentbg {
  background-image: url(images/content-tausta2.png);
  width: 749px;
}

div.top {
  background-image: url(images/top-tausta2.png);
  background-repeat: no-repeat;
  height: 70px;
  width: 749px;
}

div.ala {
  background: url(images/top-tausta2.png);
  background-repeat: no-repeat;
  height: 70px;
  width: 749px;
}

div.content {
  background-image: url(images/parch-d2.jpg);
  margin-left: 70px;
  margin-right: 70px;
  padding: 1.5em;
}


div.valike {
	text-align: center;
	margin: 1.5em;
}

ul.navi {
  margin: 1em 0;
  padding: 0;
  text-align:center;
}

.navi li {
	font-size: 110%;
	font-style: italic;
	list-style: none;
	display: inline;
	padding: 0;

}

.navi li + li:before {
    content: url('/images/koru2.png');
    margin-right: 3px;
    position: relative;
    top: 3px;
}

a {
  color: #843;
  background-color: transparent;
}

a:hover {
	text-decoration: none;
}

h1 {
	margin: 0;
	text-align: center;
}

img.photo {
	border: 1px solid;
	padding: 4px;
}

img.kirkko {
	border: 1px solid;
	padding: 0px;
}

p {
  margin-right: 2em;
}

img {
  behavior: url("/pngbehavior.htc");
}

a img {
  border: 0;
  text-decoration: none;
}

p.floatright {
  float: right;
  margin-right: -0.5em;
  margin-left: 1em;
}

p.center {
  text-align: center;
}

/******************************************
 *                                        *
 * Sisältösivujen style                   *
 *                                        *
 ******************************************/

td, th {
  vertical-align: top;
}

body#ohjelma td, body#ohjelma th {
  padding-bottom: 1em;
}

body#ohjelma th {
	text-align: right;
	font-weight: normal;
	font-style: italic;
	font-size: 90%;
	padding-right: 2em;
}

body#index table {
    margin-top: 1em;
    margin-bottom: 0;
}

body#index div.valike {
    margin-bottom: 2em;
}

body#index div.content {
    padding-bottom: 0;
}

body#index td {
	padding: 0.5em;
	vertical-align: bottom;
	text-align: center;
}

ul.index li {
  list-style: none;
  display: inline;
}

ul.index {
  text-align:center;
}

table ul {
  margin: 0;
  padding: 0;
}

table ul li {
  list-style: none;
  padding: 0;
}

body#esiintyjat ul li {
  list-style: none;
  list-style-image: url(/images/koru4.png);
  margin-bottom: 0.5em;

}

body#esiintyjat p img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#archive-list {
  padding-left: 3em;
  padding-right: 3em;
    display: none;
}
