<ul class="navi">
<!--
<li><a href="/esittely/">Esittely</a>
<img src="/images/koru2.png" alt="*" width="13" height="17">-->
<li><a href="/{{ page.year }}/esiintyjat/">Esiintyjät</a>
  <img src="/images/koru2.png" alt="*" width="13" height="17"><li><a href="/{{ page.year }}/ohjelma/">Ohjelma</a> 
  <img src="/images/koru2.png" alt="*" width="13" height="17"><li><a href="/{{ page.year }}/kirkot/">Kirkot</a>
    <img src="/images/koru2.png" alt="*" width="13" height="17"><li><a href="#" id="archive">Arkisto</a>
</ul>

<ul class="navi" id="archive-list">
  <li><a href="/2015/">2015</a>
    <img src="/images/koru2.png" alt="*" width="13" height="17"><li><a href="/2014/">2014</a></li>
</ul>

<div class="valike">
  <img src="/images/koru3.png" alt="- - -" width="51" height="15">
</div>

