<!DOCTYPE html>
<html>
<head>
  <title>Vanhassa vara parempi!</title>
<meta charset=utf-8>
<link rel="stylesheet" media="screen" href="/style.css" type="text/css">
<link rel=canonical href="/{{page.year}}/">
<meta http-equiv=refresh content="0; url=/{{page.year}}/">
</head>

<body>

<div class="boksi">
<div class="top">
</div> <!-- top -->

<div class="contentbg">

<div class="content">

<h1>
<a href="/{{page.year}}/"><img src="/images/vanhassa-vara-parempi2.png" alt="Vanhassa vara parempi!" width="550" height="37"></a></h1>

<h3><a href="/{{page.year}}/">{{ site.subtitle[page.year] }}</a></h3>

<script>location='/{{page.year}}/'</script>

</div> <!-- content -->
</div> <!-- contentbg -->

<div class="ala">
</div> <!-- ala -->

</div> <!-- boksi -->

</body>
</html>
